version: '2'
services:
  statistics-db:
    image: postgres
    ports:
      - 3307:5432
    environment:
      POSTGRES_DB: 'statistics'
      POSTGRES_USER: 'statisticsadmin'
      POSTGRES_PASSWORD: 'arqsoftun'
  statistics-ms:
    image: caatovarbo/statistics-py
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - 3004:8000
    depends_on:
      - migration
      - statistics-db
  migration:
    image: caatovarbo/statistics-py
    command: python manage.py migrate --noinput
    depends_on:
      - statistics-db